---
title: "Interactive Network Visualization with R"
author: "Daina Andries"
date: 2017-11-20
output: html_document
---

<script src="/blogdown-gitlab/rmarkdown-libs/htmlwidgets/htmlwidgets.js"></script>
<script src="/blogdown-gitlab/rmarkdown-libs/d3/d3.min.js"></script>
<script src="/blogdown-gitlab/rmarkdown-libs/forceNetwork-binding/forceNetwork.js"></script>


<p>This tutorial will demonstrate how to process a GML dataset in R in order to generate interactive network visualizations in <code>networkD3</code>. We will also cover some <code>igraph</code> functions for retrieving available node attributes from the dataset, as well as how to incorporate these attributes and some descriptive statistics into the visualization.</p>
<div id="network-data" class="section level3">
<h3>Network Data</h3>
<p>The dataset used for this tutorial is “Books about US Politics”, a network dataset from 2004 compiled by <a href="http://www.orgnet.com/">Valdis Krebs</a>. The data is available for download <a href="http://www-personal.umich.edu/~mejn/netdata/">here</a>.</p>
<p>Fundamentally, every network consists of two elements: nodes and the edges (or links) that connect them. The “Books about US Politics” network represents a sample of books purchased on Amazon.com. Here the nodes stand for the books themselves, while edges between the books indicate a co-purchase.</p>
<p>Since a network is essentially nodes and edges, raw network data can be quite simple. At minimum, there need to be two columns in a network dataset before it is ready for visualization: a <strong>source column</strong> and a <strong>target column</strong>. Both the source and target columns will contain node ids, and every row in the raw data will equate linked nodes.</p>
</div>
<div id="reading-gml-in-r" class="section level3">
<h3>Reading GML in R</h3>
<p>There are multiple options for reading in GML (Graphic Modeling Language) files in R. We will read in the data with both <code>igraph</code> and <code>multiplex</code>. With <code>igraph</code> the data comes in as list of ten elements. With <code>multiplex</code>, we can read in the data either as an integer array or in <em>srt</em> (<em>send, receive, and ties</em>) format. If we choose <em>srt</em>, the data comes in as a three-column data frame.</p>
<pre class="r"><code>library(igraph)
library(multiplex)
library(networkD3)

# read in the data
g &lt;- igraph::read.graph(&#39;polbooks.gml&#39;, format = &quot;gml&quot;)
polBooks &lt;-multiplex::read.gml(&#39;polbooks.gml&#39;, as = c(&quot;srt&quot;), directed = FALSE, coords = FALSE)
head(polBooks)</code></pre>
<pre><code>##                         S                      R T
## 1    Bush vs. the Beltway 1000 Years for Revenge 1
## 2    Charlie Wilson&#39;s War 1000 Years for Revenge 1
## 3        Losing Bin Laden 1000 Years for Revenge 1
## 4        Losing Bin Laden   Bush vs. the Beltway 1
## 5 Sleeping With the Devil 1000 Years for Revenge 1
## 6 Sleeping With the Devil   Charlie Wilson&#39;s War 1</code></pre>
<p>The <em>S</em> (send) and <em>R</em> (receive) columns above are the <strong>source</strong> and <strong>target</strong> columns. The <em>T</em> (ties) column is the quantity of ties for each node pair, also known as edge value. In this dataset, all the ties are represented as a 1.</p>
<p>In support of the point above that the source and target columns are all that is needed, we can immediately generate a visualization in <code>networkD3</code> from the polBooks <em>srt</em> data frame.</p>
<p>The function <code>simpleNetwork</code> generates a force-directed network graph. “Force-directed” network graphs are the result of an iterative simulation, where unconnected nodes repel each other and connected nodes are drawn towards each other. The function <code>simpleNetwork</code> displays the simulation as well as the final product. The shape of the network stops changing when the net force on every node in the system is zero.</p>
<pre class="r"><code>networkD3::simpleNetwork(polBooks, width = 400, height = 250)</code></pre>
<div id="htmlwidget-1" style="width:672px;height:480px;" class="forceNetwork html-widget"></div>
<script type="application/json" data-for="htmlwidget-1">{"x":{"links":{"source":[15,18,44,44,59,59,81,81,81,81,81,102,102,102,102,31,31,31,1,14,14,22,22,22,40,40,40,40,47,47,47,47,47,47,49,49,49,49,54,54,54,54,54,54,11,11,11,8,8,8,57,57,57,57,45,45,45,89,89,65,65,65,65,36,36,36,36,77,77,77,77,64,64,64,64,34,34,34,34,34,92,92,92,92,27,27,27,27,27,61,61,61,61,61,3,20,20,20,20,87,87,38,38,73,73,73,73,96,96,96,96,96,41,41,41,95,95,95,9,9,9,9,9,58,58,58,58,58,58,90,90,90,90,90,90,21,21,21,21,21,21,21,21,21,21,21,32,32,32,32,32,32,74,74,74,74,88,88,88,88,101,101,101,101,101,84,84,84,84,84,51,51,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,85,85,68,68,68,68,94,94,63,4,4,4,103,103,103,103,37,37,37,37,37,37,29,29,29,29,97,97,97,76,76,76,76,76,52,52,52,52,52,52,52,62,55,66,66,72,72,72,5,5,5,70,70,70,79,79,79,53,53,53,53,60,60,60,19,19,19,19,91,91,91,2,2,2,6,6,6,6,6,10,10,10,10,10,80,80,80,80,80,80,104,104,104,104,104,104,104,50,50,50,50,50,50,50,50,13,13,13,13,13,13,13,82,82,82,82,82,17,17,17,17,17,67,67,67,67,43,86,86,86,86,86,86,86,86,28,28,28,28,28,16,16,16,16,16,16,16,16,16,16,16,16,16,23,23,23,23,23,42,42,42,42,42,42,42,42,42,46,46,46,46,69,69,69,69,48,48,48,48,48,48,35,35,35,75,75,75,75,75,75,30,30,30,33,33,33,33,39,39,39,98,98,98,100,100,100,100,71,71,71,71,71,71,99,99,99,99,25,25,25,25,25,25,25,25,25,25,25,93,93,93,93,93,93,93,93,93,93,93,56,56,56,56,56,12,12,12,12,78,26,26,26,0,0,0,15,0,18,0,15,18,44,59,0,15,59,81,18,81,102,44,44,1,44,102,1,44,1,14,22,44,102,1,14,22,40,44,1,40,47,44,1,14,40,47,31,44,22,47,44,22,11,44,40,47,49,44,102,47,44,22,44,1,14,40,44,1,22,40,44,102,1,40,44,1,47,36,44,1,14,47,65,44,102,54,77,44,1,40,54,34,44,1,14,40,64,59,59,102,40,49,59,31,59,87,1,47,49,64,73,1,22,47,64,83,1,22,83,41,47,83,1,22,41,96,83,22,41,47,9,96,83,22,41,47,58,96,1,41,47,49,65,77,90,34,92,27,61,1,14,21,47,95,61,1,21,49,90,1,41,49,74,1,21,41,47,49,1,14,21,40,27,1,47,14,21,32,40,47,49,74,95,9,57,96,84,51,64,34,27,61,14,65,14,65,38,85,14,40,14,14,77,63,21,65,34,27,21,32,47,7,64,61,22,47,11,89,40,89,88,49,97,65,85,68,54,31,87,68,94,63,4,24,24,24,62,24,62,66,52,63,4,5,52,63,5,3,87,5,70,79,87,5,52,70,5,52,70,63,5,79,87,31,60,91,2,3,79,68,91,2,6,79,87,38,2,6,10,79,87,38,2,6,10,80,87,38,91,2,6,104,79,87,38,68,103,2,104,52,87,89,38,50,2,6,80,104,38,2,6,80,104,87,2,6,79,87,2,2,6,10,80,104,87,38,50,2,10,104,87,50,6,80,104,79,10,62,87,66,50,17,43,86,28,6,31,52,70,79,6,10,79,16,62,87,55,50,43,6,80,16,28,6,80,79,16,6,10,79,16,42,69,6,79,91,6,80,104,38,35,17,6,10,104,10,79,42,87,10,16,33,10,39,55,10,79,16,39,10,79,16,42,100,43,10,80,46,75,10,80,79,16,33,62,24,87,66,72,35,10,79,16,42,100,99,25,66,17,75,28,16,42,39,93,55,33,39,98,51,53,53,19,78],"target":[0,0,0,15,0,18,0,15,18,44,59,0,15,59,81,18,81,102,44,44,1,44,102,1,44,1,14,22,44,102,1,14,22,40,44,1,40,47,44,1,14,40,47,31,44,22,47,44,22,11,44,40,47,49,44,102,47,44,22,44,1,14,40,44,1,22,40,44,102,1,40,44,1,47,36,44,1,14,47,65,44,102,54,77,44,1,40,54,34,44,1,14,40,64,59,59,102,40,49,59,31,59,87,1,47,49,64,73,1,22,47,64,83,1,22,83,41,47,83,1,22,41,96,83,22,41,47,9,96,83,22,41,47,58,96,1,41,47,49,65,77,90,34,92,27,61,1,14,21,47,95,61,1,21,49,90,1,41,49,74,1,21,41,47,49,1,14,21,40,27,1,47,14,21,32,40,47,49,74,95,9,57,96,84,51,64,34,27,61,14,65,14,65,38,85,14,40,14,14,77,63,21,65,34,27,21,32,47,7,64,61,22,47,11,89,40,89,88,49,97,65,85,68,54,31,87,68,94,63,4,24,24,24,62,24,62,66,52,63,4,5,52,63,5,3,87,5,70,79,87,5,52,70,5,52,70,63,5,79,87,31,60,91,2,3,79,68,91,2,6,79,87,38,2,6,10,79,87,38,2,6,10,80,87,38,91,2,6,104,79,87,38,68,103,2,104,52,87,89,38,50,2,6,80,104,38,2,6,80,104,87,2,6,79,87,2,2,6,10,80,104,87,38,50,2,10,104,87,50,6,80,104,79,10,62,87,66,50,17,43,86,28,6,31,52,70,79,6,10,79,16,62,87,55,50,43,6,80,16,28,6,80,79,16,6,10,79,16,42,69,6,79,91,6,80,104,38,35,17,6,10,104,10,79,42,87,10,16,33,10,39,55,10,79,16,39,10,79,16,42,100,43,10,80,46,75,10,80,79,16,33,62,24,87,66,72,35,10,79,16,42,100,99,25,66,17,75,28,16,42,39,93,55,33,39,98,51,53,53,19,78,15,18,44,44,59,59,81,81,81,81,81,102,102,102,102,31,31,31,1,14,14,22,22,22,40,40,40,40,47,47,47,47,47,47,49,49,49,49,54,54,54,54,54,54,11,11,11,8,8,8,57,57,57,57,45,45,45,89,89,65,65,65,65,36,36,36,36,77,77,77,77,64,64,64,64,34,34,34,34,34,92,92,92,92,27,27,27,27,27,61,61,61,61,61,3,20,20,20,20,87,87,38,38,73,73,73,73,96,96,96,96,96,41,41,41,95,95,95,9,9,9,9,9,58,58,58,58,58,58,90,90,90,90,90,90,21,21,21,21,21,21,21,21,21,21,21,32,32,32,32,32,32,74,74,74,74,88,88,88,88,101,101,101,101,101,84,84,84,84,84,51,51,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,85,85,68,68,68,68,94,94,63,4,4,4,103,103,103,103,37,37,37,37,37,37,29,29,29,29,97,97,97,76,76,76,76,76,52,52,52,52,52,52,52,62,55,66,66,72,72,72,5,5,5,70,70,70,79,79,79,53,53,53,53,60,60,60,19,19,19,19,91,91,91,2,2,2,6,6,6,6,6,10,10,10,10,10,80,80,80,80,80,80,104,104,104,104,104,104,104,50,50,50,50,50,50,50,50,13,13,13,13,13,13,13,82,82,82,82,82,17,17,17,17,17,67,67,67,67,43,86,86,86,86,86,86,86,86,28,28,28,28,28,16,16,16,16,16,16,16,16,16,16,16,16,16,23,23,23,23,23,42,42,42,42,42,42,42,42,42,46,46,46,46,69,69,69,69,48,48,48,48,48,48,35,35,35,75,75,75,75,75,75,30,30,30,33,33,33,33,39,39,39,98,98,98,100,100,100,100,71,71,71,71,71,71,99,99,99,99,25,25,25,25,25,25,25,25,25,25,25,93,93,93,93,93,93,93,93,93,93,93,56,56,56,56,56,12,12,12,12,78,26,26,26],"value":[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],"colour":["#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666"]},"nodes":{"name":["1000 Years for Revenge","A National Party No More","Against All Enemies","All the Shah's Men","Allies","America Unbound","American Dynasty","Arrogance","Betrayal","Bias","Big Lies","Breakdown","Buck Up Suck Up","Bush at War","Bush Country","Bush vs. the Beltway","Bushwhacked","Bushwomen","Charlie Wilson's War","Colossus","Dangerous Dimplomacy","Deliver Us from Evil","Dereliction of Duty","Disarming Iraq","Downsize This!","Dude, Where's My Country?","Empire","Endgame","Fanatics and Fools","Fighting Back","Freethinkers","Ghost Wars","Give Me a Break","Had Enough?","Hating America","Hegemony or Survival","Hillary's Scheme","Hollywood Interrupted","House of Bush, House of Saud","It's Still the Economy, Stupid!","Legacy","Let Freedom Ring","Lies and the Lying Liars Who Tell Them","Living History","Losing Bin Laden","Meant To Be","MoveOn's 50 Ways to Love Your Country","Off with Their Heads","Perfectly Legal","Persecution","Plan of Attack","Power Plays","Rise of the Vulcans","Rogue Nation","Rumsfeld's War","Rush Limbaugh Is a Big Fat Idiot","Shrub","Shut Up and Sing","Slander","Sleeping With the Devil","Soft Power","Spin Sisters","Stupid White Men","Surprise, Security, the American Experience","Tales from the Left Coast","Ten Minutes from Normal","The Best Democracy Money Can Buy","The Bubble of American Supremacy","The Bushes","The Buying of the President 2004","The Choice","The Clinton Wars","The Culture of Fear","The Death of Right and Wrong","The Enemy Within","The Exception to the Rulers","The Faith of George W Bush","The French Betrayal of America","The Future of Freedom","The Great Unraveling","The Lies of George W. Bush","The Man Who Warned America","The New Pearl Harbor","The O'Reilly Factor","The Official Handbook Vast Right Wing Conspiracy","The Perfect Wife","The Politics of Truth","The Price of Loyalty","The Real America","The Right Man","The Savage Nation","The Sorrows of Empire","The Third Terrorist","Thieves in High Places","Things Worth Fighting For","Those Who Trespass","Useful Idiots","We Will Prevail","We're Right They're Wrong","Weapons of Mass Deception","What Liberal Media?","Who's Looking Out for You?","Why America Slept","Why Courage Matters","Worse Than Watergate"],"group":[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],"nodesize":[8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8]},"options":{"NodeID":"name","Group":"group","colourScale":"d3.scaleOrdinal(['#3182bd'])","fontSize":7,"fontFamily":"serif","clickTextSize":17.5,"linkDistance":50,"linkWidth":"'1.5px'.toString()","charge":-30,"opacity":0.6,"zoom":false,"legend":false,"arrows":false,"nodesize":true,"radiusCalculation":"d.nodesize","bounded":false,"opacityNoHover":1,"clickAction":null}},"evals":[],"jsHooks":[]}</script>
<p>The graph’s final shape reveals a pattern of polarization. The network has two distinct ends, with the gap between the far ends bridged by the co-purchase of <em>Buck Up Suck Up</em> and <em>Power Plays</em>.</p>
<p>If we were to stop here, however, we would miss the node attributes included in the GML file, which can be incorporated into the graph with a just few more steps.</p>
</div>
<div id="retrieval-of-attributes" class="section level3">
<h3>Retrieval of Attributes</h3>
<p>The <code>igraph</code> library provides several functions for easy exploration of available node / vertex attributes and edge attributes. Below we extract the vertex attributes from the graph data stored in <code>g</code> with the function <code>vertex_attr</code>, which produces a list of three attributes: <em>id</em>, <em>label</em>, and <em>value</em>. <em>Label</em> corresponds to book titles; <em>value</em> corresponds to one of three categories, <em>n</em>, <em>c</em>, and <em>l</em> which stand for <em>neutral</em>, <em>conservative</em>, and <em>liberal</em>. We create a three-column data frame from these three attributes and name the columns <em>id</em>, <em>title</em>, and <em>category</em>. Lastly we create a fourth column with where the shortened category names have been converted into unabbreviated category names.</p>
<pre class="r"><code># make a data frame for nodes
v &lt;- igraph::vertex_attr(g)
# create a three-column data frame from three node attributes
polNodes &lt;- setNames(as.data.frame(cbind(v$id, v$label, v$value)), c(&#39;id&#39;, &#39;title&#39;, &#39;category&#39;))
head(polNodes)</code></pre>
<pre><code>##   id                      title category
## 1  0     1000 Years for Revenge        n
## 2  1       Bush vs. the Beltway        c
## 3  2       Charlie Wilson&#39;s War        c
## 4  3           Losing Bin Laden        c
## 5  4    Sleeping With the Devil        n
## 6  5 The Man Who Warned America        c</code></pre>
<pre class="r"><code># convert title column from a factor to a character vector
polNodes$title &lt;- as.character(polNodes$title)
# create fourth column, categoryName, providing an unabbreviated version of book category values
polNodes$categoryName &lt;- sapply(polNodes$category, function(x)
                                  {if(x == &#39;n&#39;){&#39;neutral&#39;} 
                                  else if(x == &#39;c&#39;){&#39;conservative&#39;}
                                  else if(x == &#39;l&#39;){&#39;liberal&#39;}
                                  })
head(polNodes)</code></pre>
<pre><code>##   id                      title category categoryName
## 1  0     1000 Years for Revenge        n      neutral
## 2  1       Bush vs. the Beltway        c conservative
## 3  2       Charlie Wilson&#39;s War        c conservative
## 4  3           Losing Bin Laden        c conservative
## 5  4    Sleeping With the Devil        n      neutral
## 6  5 The Man Who Warned America        c conservative</code></pre>
<p>If we run the <code>edge_attr</code> function on this dataset, we get an empty list, which is not surprising, since the <em>srt</em> data frame had only the value ‘1’ in the ties column. This network dataset will therefore not be able to show us the number of co-purchases but only the occurence of co-purchases of books.</p>
</div>
<div id="visualizing-a-force-directed-network-with-attribute-data" class="section level3">
<h3>Visualizing a Force-Directed Network with Attribute Data</h3>
<p>To further customize our network graph with nodes colored by attribute, we will switch over to the <code>networkD3</code> function <code>forceNetwork</code>. We need two data frame objects for this function. We have already created the first data frame, the nodes data frame <code>polNodes</code>. The second data frame we need is an edges / links data frame. We will call this second data frame <code>polLinks</code>.</p>
<p>Our <code>polLinks</code> data frame needs source, target, and value columns. We already have this data in our <code>polBooks</code> data frame. However, the Links argument in <code>forceNetwork</code> requires that the nodes “be numbered starting from 0”. To meet this requirement we need to transform the character strings in <code>polBooks</code> into integer ids.</p>
<p>Fortunately, in this case the node ids in <code>polNodes</code> start from zero! (If not, we would start by transforming those ids in <code>polNodes</code> into a sequence of integers starting from zero.) As it stands, we can take the <code>id</code> and <code>title</code> columns from <code>polNodes</code> and create a separate data frame for this value reference called <code>ref</code>. We initially populate <code>polLinks</code> with the values from <code>polBooks</code> then replace the character strings with integers by matching them to <code>ref</code>. This results in a data frame with source, target, and value columns, with all the nodes labeled with numbers starting from zero.</p>
<pre class="r"><code># make a data frame for links 
ref &lt;- subset(polNodes, select = c(&quot;id&quot;, &quot;title&quot;))
polLinks &lt;- polBooks
polLinks[,1:2] &lt;- ref$id[match(unlist(polBooks), ref$title)]
head(polLinks)</code></pre>
<pre><code>##   S R T
## 1 1 0 1
## 2 2 0 1
## 3 3 0 1
## 4 3 1 1
## 5 4 0 1
## 6 4 2 1</code></pre>
<p>We now have the two data frames we need to apply <code>networkD3::forceNetwork</code> to the data. The parameters <code>Source</code>, <code>Target</code> and <code>Value</code> all point to columns in the <code>Links</code> data frame. <code>NodeID</code> points to the node ids in the <code>Nodes</code> data frame. Technically this is the <code>id</code> column in <code>polNodes</code>, but since there is a one-to-one correspondence between <code>id</code> and <code>title</code> in <code>polNodes</code>, we can safely substitute <code>title</code> so that we can see book titles instead of integers as node labels in the graph.</p>
<pre class="r"><code>networkD3::forceNetwork(Links = polLinks, Nodes = polNodes,
             Source = &quot;S&quot;, Target = &quot;R&quot;,
             Value = &quot;T&quot;, NodeID = &quot;title&quot;,
             Group = &quot;categoryName&quot;, opacity = 0.8,
             colourScale = JS(&quot;d3.scaleOrdinal().range([d3.rgb(&#39;#000000&#39;)
                              , d3.rgb(&#39;#cc0000&#39;), d3.rgb(&#39;#007AFF&#39;)]);&quot;),
             fontSize = 7, fontFamily = &quot;serif&quot;, legend = TRUE,
             width = 800, height = 950)</code></pre>
<div id="htmlwidget-2" style="width:800px;height:950px;" class="forceNetwork html-widget"></div>
<script type="application/json" data-for="htmlwidget-2">{"x":{"links":{"source":["1","2","3","3","4","4","5","5","5","5","5","6","6","6","6","7","7","7","8","9","9","10","10","10","11","11","11","11","12","12","12","12","12","12","13","13","13","13","14","14","14","14","14","14","15","15","15","16","16","16","17","17","17","17","18","18","18","19","19","20","20","20","20","21","21","21","21","22","22","22","22","23","23","23","23","24","24","24","24","24","25","25","25","25","26","26","26","26","26","27","27","27","27","27","28","29","29","29","29","30","30","31","31","32","32","32","32","33","33","33","33","33","35","35","35","36","36","36","37","37","37","37","37","38","38","38","38","38","38","39","39","39","39","39","39","40","40","40","40","40","40","40","40","40","40","40","41","41","41","41","41","41","42","42","42","42","43","43","43","43","44","44","44","44","44","45","45","45","45","45","46","46","47","47","47","47","47","47","47","47","47","47","47","47","47","47","47","47","47","48","48","49","49","49","49","50","50","51","52","52","52","53","53","53","53","54","54","54","54","54","54","55","55","55","55","56","56","56","57","57","57","57","57","58","58","58","58","58","58","58","60","61","62","62","63","63","63","64","64","64","65","65","65","66","66","66","67","67","67","67","68","68","68","69","69","69","69","70","70","70","71","71","71","72","72","72","72","72","73","73","73","73","73","74","74","74","74","74","74","75","75","75","75","75","75","75","76","76","76","76","76","76","76","76","77","77","77","77","77","77","77","78","78","78","78","78","79","79","79","79","79","80","80","80","80","81","82","82","82","82","82","82","82","82","83","83","83","83","83","84","84","84","84","84","84","84","84","84","84","84","84","84","85","85","85","85","85","86","86","86","86","86","86","86","86","86","87","87","87","87","88","88","88","88","89","89","89","89","89","89","90","90","90","91","91","91","91","91","91","92","92","92","93","93","93","93","94","94","94","95","95","95","96","96","96","96","97","97","97","97","97","97","98","98","98","98","99","99","99","99","99","99","99","99","99","99","99","100","100","100","100","100","100","100","100","100","100","100","101","101","101","101","101","102","102","102","102","103","104","104","104","0","0","0","1","0","2","0","1","2","3","4","0","1","4","5","2","5","6","3","3","8","3","6","8","3","8","9","10","3","6","8","9","10","11","3","8","11","12","3","8","9","11","12","7","3","10","12","3","10","15","3","11","12","13","3","6","12","3","10","3","8","9","11","3","8","10","11","3","6","8","11","3","8","12","21","3","8","9","12","20","3","6","14","22","3","8","11","14","24","3","8","9","11","23","4","4","6","11","13","4","7","4","30","8","12","13","23","32","8","10","12","23","34","8","10","34","35","12","34","8","10","35","33","34","10","35","12","37","33","34","10","35","12","38","33","8","35","12","13","20","22","39","24","25","26","27","8","9","40","12","36","27","8","40","13","39","8","35","13","42","8","40","35","12","13","8","9","40","11","26","8","12","9","40","41","11","12","13","42","36","37","17","33","45","46","23","24","26","27","9","20","9","20","31","48","9","11","9","9","22","51","40","20","24","26","40","41","12","47","23","27","10","12","15","19","11","19","43","13","56","20","48","49","14","7","30","49","50","51","52","59","59","59","60","59","60","62","58","51","52","64","58","51","64","28","30","64","65","66","30","64","58","65","64","58","65","51","64","66","30","7","68","70","71","28","66","49","70","71","72","66","30","31","71","72","73","66","30","31","71","72","73","74","30","31","70","71","72","75","66","30","31","49","53","71","75","58","30","19","31","76","71","72","74","75","31","71","72","74","75","30","71","72","66","30","71","71","72","73","74","75","30","31","76","71","73","75","30","76","72","74","75","66","73","60","30","62","76","79","81","82","83","72","7","58","65","66","72","73","66","84","60","30","61","76","81","72","74","84","83","72","74","66","84","72","73","66","84","86","88","72","66","70","72","74","75","31","90","79","72","73","75","73","66","86","30","73","84","93","73","94","61","73","66","84","94","73","66","84","86","96","81","73","74","87","91","73","74","66","84","93","60","59","30","62","63","90","73","66","84","86","96","98","99","62","79","91","83","84","86","94","100","61","93","94","95","46","67","67","69","103"],"target":["0","0","0","1","0","2","0","1","2","3","4","0","1","4","5","2","5","6","3","3","8","3","6","8","3","8","9","10","3","6","8","9","10","11","3","8","11","12","3","8","9","11","12","7","3","10","12","3","10","15","3","11","12","13","3","6","12","3","10","3","8","9","11","3","8","10","11","3","6","8","11","3","8","12","21","3","8","9","12","20","3","6","14","22","3","8","11","14","24","3","8","9","11","23","4","4","6","11","13","4","7","4","30","8","12","13","23","32","8","10","12","23","34","8","10","34","35","12","34","8","10","35","33","34","10","35","12","37","33","34","10","35","12","38","33","8","35","12","13","20","22","39","24","25","26","27","8","9","40","12","36","27","8","40","13","39","8","35","13","42","8","40","35","12","13","8","9","40","11","26","8","12","9","40","41","11","12","13","42","36","37","17","33","45","46","23","24","26","27","9","20","9","20","31","48","9","11","9","9","22","51","40","20","24","26","40","41","12","47","23","27","10","12","15","19","11","19","43","13","56","20","48","49","14","7","30","49","50","51","52","59","59","59","60","59","60","62","58","51","52","64","58","51","64","28","30","64","65","66","30","64","58","65","64","58","65","51","64","66","30","7","68","70","71","28","66","49","70","71","72","66","30","31","71","72","73","66","30","31","71","72","73","74","30","31","70","71","72","75","66","30","31","49","53","71","75","58","30","19","31","76","71","72","74","75","31","71","72","74","75","30","71","72","66","30","71","71","72","73","74","75","30","31","76","71","73","75","30","76","72","74","75","66","73","60","30","62","76","79","81","82","83","72","7","58","65","66","72","73","66","84","60","30","61","76","81","72","74","84","83","72","74","66","84","72","73","66","84","86","88","72","66","70","72","74","75","31","90","79","72","73","75","73","66","86","30","73","84","93","73","94","61","73","66","84","94","73","66","84","86","96","81","73","74","87","91","73","74","66","84","93","60","59","30","62","63","90","73","66","84","86","96","98","99","62","79","91","83","84","86","94","100","61","93","94","95","46","67","67","69","103","1","2","3","3","4","4","5","5","5","5","5","6","6","6","6","7","7","7","8","9","9","10","10","10","11","11","11","11","12","12","12","12","12","12","13","13","13","13","14","14","14","14","14","14","15","15","15","16","16","16","17","17","17","17","18","18","18","19","19","20","20","20","20","21","21","21","21","22","22","22","22","23","23","23","23","24","24","24","24","24","25","25","25","25","26","26","26","26","26","27","27","27","27","27","28","29","29","29","29","30","30","31","31","32","32","32","32","33","33","33","33","33","35","35","35","36","36","36","37","37","37","37","37","38","38","38","38","38","38","39","39","39","39","39","39","40","40","40","40","40","40","40","40","40","40","40","41","41","41","41","41","41","42","42","42","42","43","43","43","43","44","44","44","44","44","45","45","45","45","45","46","46","47","47","47","47","47","47","47","47","47","47","47","47","47","47","47","47","47","48","48","49","49","49","49","50","50","51","52","52","52","53","53","53","53","54","54","54","54","54","54","55","55","55","55","56","56","56","57","57","57","57","57","58","58","58","58","58","58","58","60","61","62","62","63","63","63","64","64","64","65","65","65","66","66","66","67","67","67","67","68","68","68","69","69","69","69","70","70","70","71","71","71","72","72","72","72","72","73","73","73","73","73","74","74","74","74","74","74","75","75","75","75","75","75","75","76","76","76","76","76","76","76","76","77","77","77","77","77","77","77","78","78","78","78","78","79","79","79","79","79","80","80","80","80","81","82","82","82","82","82","82","82","82","83","83","83","83","83","84","84","84","84","84","84","84","84","84","84","84","84","84","85","85","85","85","85","86","86","86","86","86","86","86","86","86","87","87","87","87","88","88","88","88","89","89","89","89","89","89","90","90","90","91","91","91","91","91","91","92","92","92","93","93","93","93","94","94","94","95","95","95","96","96","96","96","97","97","97","97","97","97","98","98","98","98","99","99","99","99","99","99","99","99","99","99","99","100","100","100","100","100","100","100","100","100","100","100","101","101","101","101","101","102","102","102","102","103","104","104","104"],"value":[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],"colour":["#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666"]},"nodes":{"name":["1000 Years for Revenge","Bush vs. the Beltway","Charlie Wilson's War","Losing Bin Laden","Sleeping With the Devil","The Man Who Warned America","Why America Slept","Ghost Wars","A National Party No More","Bush Country","Dereliction of Duty","Legacy","Off with Their Heads","Persecution","Rumsfeld's War","Breakdown","Betrayal","Shut Up and Sing","Meant To Be","The Right Man","Ten Minutes from Normal","Hillary's Scheme","The French Betrayal of America","Tales from the Left Coast","Hating America","The Third Terrorist","Endgame","Spin Sisters","All the Shah's Men","Dangerous Dimplomacy","The Price of Loyalty","House of Bush, House of Saud","The Death of Right and Wrong","Useful Idiots","The O'Reilly Factor","Let Freedom Ring","Those Who Trespass","Bias","Slander","The Savage Nation","Deliver Us from Evil","Give Me a Break","The Enemy Within","The Real America","Who's Looking Out for You?","The Official Handbook Vast Right Wing Conspiracy","Power Plays","Arrogance","The Perfect Wife","The Bushes","Things Worth Fighting For","Surprise, Security, the American Experience","Allies","Why Courage Matters","Hollywood Interrupted","Fighting Back","We Will Prevail","The Faith of George W Bush","Rise of the Vulcans","Downsize This!","Stupid White Men","Rush Limbaugh Is a Big Fat Idiot","The Best Democracy Money Can Buy","The Culture of Fear","America Unbound","The Choice","The Great Unraveling","Rogue Nation","Soft Power","Colossus","The Sorrows of Empire","Against All Enemies","American Dynasty","Big Lies","The Lies of George W. Bush","Worse Than Watergate","Plan of Attack","Bush at War","The New Pearl Harbor","Bushwomen","The Bubble of American Supremacy","Living History","The Politics of Truth","Fanatics and Fools","Bushwhacked","Disarming Iraq","Lies and the Lying Liars Who Tell Them","MoveOn's 50 Ways to Love Your Country","The Buying of the President 2004","Perfectly Legal","Hegemony or Survival","The Exception to the Rulers","Freethinkers","Had Enough?","It's Still the Economy, Stupid!","We're Right They're Wrong","What Liberal Media?","The Clinton Wars","Weapons of Mass Deception","Dude, Where's My Country?","Thieves in High Places","Shrub","Buck Up Suck Up","The Future of Freedom","Empire"],"group":["neutral","conservative","conservative","conservative","neutral","conservative","neutral","neutral","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","neutral","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","neutral","conservative","liberal","liberal","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","neutral","conservative","neutral","conservative","conservative","neutral","conservative","conservative","conservative","conservative","conservative","conservative","conservative","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","neutral","liberal","liberal","liberal","liberal","liberal","liberal","neutral","conservative","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","neutral","neutral"]},"options":{"NodeID":"title","Group":"categoryName","colourScale":"d3.scaleOrdinal().range([d3.rgb('#000000')\n                              , d3.rgb('#cc0000'), d3.rgb('#007AFF')]);","fontSize":7,"fontFamily":"serif","clickTextSize":17.5,"linkDistance":50,"linkWidth":"function(d) { return Math.sqrt(d.value); }","charge":-30,"opacity":0.8,"zoom":false,"legend":true,"arrows":false,"nodesize":false,"radiusCalculation":" Math.sqrt(d.nodesize)+6","bounded":false,"opacityNoHover":0,"clickAction":null}},"evals":[],"jsHooks":[]}</script>
</div>
<div id="descriptive-statistics" class="section level3">
<h3>Descriptive Statistics</h3>
<p>One node-level statistic we can quickly derive with <code>igraph</code> and represent visually with <code>networkD3</code> is degree centrality. Degree centrality is a fundamental metric in network analysis. It equals the number of links per node. We will redraw the radius of each node according to degree as well as add degree value to our node labels.</p>
<p>We’ll start with <code>g</code>, the variable in which we first stored our data after reading it into <code>igraph</code>, then add the degrees to our <code>Nodes</code> data frame.</p>
<pre class="r"><code>deg &lt;- igraph::degree(g, v = V(g), loops = TRUE, normalized = FALSE)

# add to Nodes df
polNodes.2 &lt;- setNames(cbind(polNodes, as.numeric(deg)), c(colnames(polNodes), &#39;degree&#39;))
# new node labels
polNodes.2$title.plus.degree &lt;- paste(polNodes.2$title, as.character(polNodes.2$degree), sep = &quot;: &quot;)

forceNetwork(Links = polLinks, Nodes = polNodes.2,
             Source = &quot;S&quot;, Target = &quot;R&quot;,
             Value = &quot;T&quot;, NodeID = &quot;title.plus.degree&quot;,
             Nodesize = &quot;degree&quot;,
             Group = &quot;categoryName&quot;, opacity = 0.8,
             colourScale = JS(&quot;d3.scaleOrdinal().range([d3.rgb(&#39;#000000&#39;)
                              , d3.rgb(&#39;#cc0000&#39;), d3.rgb(&#39;#007AFF&#39;)]);&quot;), 
             fontSize = 7, fontFamily = &quot;serif&quot;, legend = TRUE
             , width = 700, height = 1000)</code></pre>
<div id="htmlwidget-3" style="width:700px;height:1000px;" class="forceNetwork html-widget"></div>
<script type="application/json" data-for="htmlwidget-3">{"x":{"links":{"source":["1","2","3","3","4","4","5","5","5","5","5","6","6","6","6","7","7","7","8","9","9","10","10","10","11","11","11","11","12","12","12","12","12","12","13","13","13","13","14","14","14","14","14","14","15","15","15","16","16","16","17","17","17","17","18","18","18","19","19","20","20","20","20","21","21","21","21","22","22","22","22","23","23","23","23","24","24","24","24","24","25","25","25","25","26","26","26","26","26","27","27","27","27","27","28","29","29","29","29","30","30","31","31","32","32","32","32","33","33","33","33","33","35","35","35","36","36","36","37","37","37","37","37","38","38","38","38","38","38","39","39","39","39","39","39","40","40","40","40","40","40","40","40","40","40","40","41","41","41","41","41","41","42","42","42","42","43","43","43","43","44","44","44","44","44","45","45","45","45","45","46","46","47","47","47","47","47","47","47","47","47","47","47","47","47","47","47","47","47","48","48","49","49","49","49","50","50","51","52","52","52","53","53","53","53","54","54","54","54","54","54","55","55","55","55","56","56","56","57","57","57","57","57","58","58","58","58","58","58","58","60","61","62","62","63","63","63","64","64","64","65","65","65","66","66","66","67","67","67","67","68","68","68","69","69","69","69","70","70","70","71","71","71","72","72","72","72","72","73","73","73","73","73","74","74","74","74","74","74","75","75","75","75","75","75","75","76","76","76","76","76","76","76","76","77","77","77","77","77","77","77","78","78","78","78","78","79","79","79","79","79","80","80","80","80","81","82","82","82","82","82","82","82","82","83","83","83","83","83","84","84","84","84","84","84","84","84","84","84","84","84","84","85","85","85","85","85","86","86","86","86","86","86","86","86","86","87","87","87","87","88","88","88","88","89","89","89","89","89","89","90","90","90","91","91","91","91","91","91","92","92","92","93","93","93","93","94","94","94","95","95","95","96","96","96","96","97","97","97","97","97","97","98","98","98","98","99","99","99","99","99","99","99","99","99","99","99","100","100","100","100","100","100","100","100","100","100","100","101","101","101","101","101","102","102","102","102","103","104","104","104","0","0","0","1","0","2","0","1","2","3","4","0","1","4","5","2","5","6","3","3","8","3","6","8","3","8","9","10","3","6","8","9","10","11","3","8","11","12","3","8","9","11","12","7","3","10","12","3","10","15","3","11","12","13","3","6","12","3","10","3","8","9","11","3","8","10","11","3","6","8","11","3","8","12","21","3","8","9","12","20","3","6","14","22","3","8","11","14","24","3","8","9","11","23","4","4","6","11","13","4","7","4","30","8","12","13","23","32","8","10","12","23","34","8","10","34","35","12","34","8","10","35","33","34","10","35","12","37","33","34","10","35","12","38","33","8","35","12","13","20","22","39","24","25","26","27","8","9","40","12","36","27","8","40","13","39","8","35","13","42","8","40","35","12","13","8","9","40","11","26","8","12","9","40","41","11","12","13","42","36","37","17","33","45","46","23","24","26","27","9","20","9","20","31","48","9","11","9","9","22","51","40","20","24","26","40","41","12","47","23","27","10","12","15","19","11","19","43","13","56","20","48","49","14","7","30","49","50","51","52","59","59","59","60","59","60","62","58","51","52","64","58","51","64","28","30","64","65","66","30","64","58","65","64","58","65","51","64","66","30","7","68","70","71","28","66","49","70","71","72","66","30","31","71","72","73","66","30","31","71","72","73","74","30","31","70","71","72","75","66","30","31","49","53","71","75","58","30","19","31","76","71","72","74","75","31","71","72","74","75","30","71","72","66","30","71","71","72","73","74","75","30","31","76","71","73","75","30","76","72","74","75","66","73","60","30","62","76","79","81","82","83","72","7","58","65","66","72","73","66","84","60","30","61","76","81","72","74","84","83","72","74","66","84","72","73","66","84","86","88","72","66","70","72","74","75","31","90","79","72","73","75","73","66","86","30","73","84","93","73","94","61","73","66","84","94","73","66","84","86","96","81","73","74","87","91","73","74","66","84","93","60","59","30","62","63","90","73","66","84","86","96","98","99","62","79","91","83","84","86","94","100","61","93","94","95","46","67","67","69","103"],"target":["0","0","0","1","0","2","0","1","2","3","4","0","1","4","5","2","5","6","3","3","8","3","6","8","3","8","9","10","3","6","8","9","10","11","3","8","11","12","3","8","9","11","12","7","3","10","12","3","10","15","3","11","12","13","3","6","12","3","10","3","8","9","11","3","8","10","11","3","6","8","11","3","8","12","21","3","8","9","12","20","3","6","14","22","3","8","11","14","24","3","8","9","11","23","4","4","6","11","13","4","7","4","30","8","12","13","23","32","8","10","12","23","34","8","10","34","35","12","34","8","10","35","33","34","10","35","12","37","33","34","10","35","12","38","33","8","35","12","13","20","22","39","24","25","26","27","8","9","40","12","36","27","8","40","13","39","8","35","13","42","8","40","35","12","13","8","9","40","11","26","8","12","9","40","41","11","12","13","42","36","37","17","33","45","46","23","24","26","27","9","20","9","20","31","48","9","11","9","9","22","51","40","20","24","26","40","41","12","47","23","27","10","12","15","19","11","19","43","13","56","20","48","49","14","7","30","49","50","51","52","59","59","59","60","59","60","62","58","51","52","64","58","51","64","28","30","64","65","66","30","64","58","65","64","58","65","51","64","66","30","7","68","70","71","28","66","49","70","71","72","66","30","31","71","72","73","66","30","31","71","72","73","74","30","31","70","71","72","75","66","30","31","49","53","71","75","58","30","19","31","76","71","72","74","75","31","71","72","74","75","30","71","72","66","30","71","71","72","73","74","75","30","31","76","71","73","75","30","76","72","74","75","66","73","60","30","62","76","79","81","82","83","72","7","58","65","66","72","73","66","84","60","30","61","76","81","72","74","84","83","72","74","66","84","72","73","66","84","86","88","72","66","70","72","74","75","31","90","79","72","73","75","73","66","86","30","73","84","93","73","94","61","73","66","84","94","73","66","84","86","96","81","73","74","87","91","73","74","66","84","93","60","59","30","62","63","90","73","66","84","86","96","98","99","62","79","91","83","84","86","94","100","61","93","94","95","46","67","67","69","103","1","2","3","3","4","4","5","5","5","5","5","6","6","6","6","7","7","7","8","9","9","10","10","10","11","11","11","11","12","12","12","12","12","12","13","13","13","13","14","14","14","14","14","14","15","15","15","16","16","16","17","17","17","17","18","18","18","19","19","20","20","20","20","21","21","21","21","22","22","22","22","23","23","23","23","24","24","24","24","24","25","25","25","25","26","26","26","26","26","27","27","27","27","27","28","29","29","29","29","30","30","31","31","32","32","32","32","33","33","33","33","33","35","35","35","36","36","36","37","37","37","37","37","38","38","38","38","38","38","39","39","39","39","39","39","40","40","40","40","40","40","40","40","40","40","40","41","41","41","41","41","41","42","42","42","42","43","43","43","43","44","44","44","44","44","45","45","45","45","45","46","46","47","47","47","47","47","47","47","47","47","47","47","47","47","47","47","47","47","48","48","49","49","49","49","50","50","51","52","52","52","53","53","53","53","54","54","54","54","54","54","55","55","55","55","56","56","56","57","57","57","57","57","58","58","58","58","58","58","58","60","61","62","62","63","63","63","64","64","64","65","65","65","66","66","66","67","67","67","67","68","68","68","69","69","69","69","70","70","70","71","71","71","72","72","72","72","72","73","73","73","73","73","74","74","74","74","74","74","75","75","75","75","75","75","75","76","76","76","76","76","76","76","76","77","77","77","77","77","77","77","78","78","78","78","78","79","79","79","79","79","80","80","80","80","81","82","82","82","82","82","82","82","82","83","83","83","83","83","84","84","84","84","84","84","84","84","84","84","84","84","84","85","85","85","85","85","86","86","86","86","86","86","86","86","86","87","87","87","87","88","88","88","88","89","89","89","89","89","89","90","90","90","91","91","91","91","91","91","92","92","92","93","93","93","93","94","94","94","95","95","95","96","96","96","96","97","97","97","97","97","97","98","98","98","98","99","99","99","99","99","99","99","99","99","99","99","100","100","100","100","100","100","100","100","100","100","100","101","101","101","101","101","102","102","102","102","103","104","104","104"],"value":[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],"colour":["#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666","#666"]},"nodes":{"name":["1000 Years for Revenge: 6","Bush vs. the Beltway: 4","Charlie Wilson's War: 4","Losing Bin Laden: 23","Sleeping With the Devil: 8","The Man Who Warned America: 7","Why America Slept: 11","Ghost Wars: 8","A National Party No More: 25","Bush Country: 16","Dereliction of Duty: 15","Legacy: 18","Off with Their Heads: 25","Persecution: 13","Rumsfeld's War: 9","Breakdown: 5","Betrayal: 3","Shut Up and Sing: 5","Meant To Be: 3","The Right Man: 5","Ten Minutes from Normal: 10","Hillary's Scheme: 5","The French Betrayal of America: 7","Tales from the Left Coast: 9","Hating America: 9","The Third Terrorist: 5","Endgame: 9","Spin Sisters: 9","All the Shah's Men: 3","Dangerous Dimplomacy: 4","The Price of Loyalty: 20","House of Bush, House of Saud: 11","The Death of Right and Wrong: 5","Useful Idiots: 9","The O'Reilly Factor: 5","Let Freedom Ring: 10","Those Who Trespass: 5","Bias: 7","Slander: 7","The Savage Nation: 8","Deliver Us from Evil: 18","Give Me a Break: 8","The Enemy Within: 6","The Real America: 5","Who's Looking Out for You?: 5","The Official Handbook Vast Right Wing Conspiracy: 6","Power Plays: 4","Arrogance: 18","The Perfect Wife: 4","The Bushes: 8","Things Worth Fighting For: 3","Surprise, Security, the American Experience: 6","Allies: 5","Why Courage Matters: 5","Hollywood Interrupted: 6","Fighting Back: 4","We Will Prevail: 4","The Faith of George W Bush: 5","Rise of the Vulcans: 13","Downsize This!: 5","Stupid White Men: 6","Rush Limbaugh Is a Big Fat Idiot: 4","The Best Democracy Money Can Buy: 6","The Culture of Fear: 4","America Unbound: 9","The Choice: 7","The Great Unraveling: 21","Rogue Nation: 6","Soft Power: 4","Colossus: 5","The Sorrows of Empire: 7","Against All Enemies: 15","American Dynasty: 22","Big Lies: 21","The Lies of George W. Bush: 16","Worse Than Watergate: 16","Plan of Attack: 13","Bush at War: 7","The New Pearl Harbor: 5","Bushwomen: 8","The Bubble of American Supremacy: 4","Living History: 4","The Politics of Truth: 9","Fanatics and Fools: 8","Bushwhacked: 23","Disarming Iraq: 5","Lies and the Lying Liars Who Tell Them: 14","MoveOn's 50 Ways to Love Your Country: 5","The Buying of the President 2004: 5","Perfectly Legal: 6","Hegemony or Survival: 5","The Exception to the Rulers: 8","Freethinkers: 3","Had Enough?: 7","It's Still the Economy, Stupid!: 7","We're Right They're Wrong: 4","What Liberal Media?: 6","The Clinton Wars: 6","Weapons of Mass Deception: 5","Dude, Where's My Country?: 12","Thieves in High Places: 12","Shrub: 5","Buck Up Suck Up: 4","The Future of Freedom: 2","Empire: 3"],"group":["neutral","conservative","conservative","conservative","neutral","conservative","neutral","neutral","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","neutral","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","neutral","conservative","liberal","liberal","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","conservative","neutral","conservative","neutral","conservative","conservative","neutral","conservative","conservative","conservative","conservative","conservative","conservative","conservative","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","neutral","liberal","liberal","liberal","liberal","liberal","liberal","neutral","conservative","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","liberal","neutral","neutral"],"nodesize":[6,4,4,23,8,7,11,8,25,16,15,18,25,13,9,5,3,5,3,5,10,5,7,9,9,5,9,9,3,4,20,11,5,9,5,10,5,7,7,8,18,8,6,5,5,6,4,18,4,8,3,6,5,5,6,4,4,5,13,5,6,4,6,4,9,7,21,6,4,5,7,15,22,21,16,16,13,7,5,8,4,4,9,8,23,5,14,5,5,6,5,8,3,7,7,4,6,6,5,12,12,5,4,2,3]},"options":{"NodeID":"title.plus.degree","Group":"categoryName","colourScale":"d3.scaleOrdinal().range([d3.rgb('#000000')\n                              , d3.rgb('#cc0000'), d3.rgb('#007AFF')]);","fontSize":7,"fontFamily":"serif","clickTextSize":17.5,"linkDistance":50,"linkWidth":"function(d) { return Math.sqrt(d.value); }","charge":-30,"opacity":0.8,"zoom":false,"legend":true,"arrows":false,"nodesize":true,"radiusCalculation":" Math.sqrt(d.nodesize)+6","bounded":false,"opacityNoHover":0,"clickAction":null}},"evals":[],"jsHooks":[]}</script>
<p>We can also use <code>igraph</code> to quickly generate statistics that describe the network as a whole. Below, we calculate network density (number of actual connections in a network divided by the total number of potential connections) and plot degree distribution.</p>
<pre class="r"><code>node.count &lt;- length(igraph::V(g))
potential.connections &lt;- (node.count * (node.count - 1))/2
actual.connections &lt;- length(igraph::E(g))
net.density &lt;- actual.connections/potential.connections
paste(&#39;Network Density:&#39;, net.density)</code></pre>
<pre><code>## [1] &quot;Network Density: 0.0807692307692308&quot;</code></pre>
<pre class="r"><code>paste(&#39;Average Degree / Connections per Node:&#39;, mean(deg))</code></pre>
<pre><code>## [1] &quot;Average Degree / Connections per Node: 8.4&quot;</code></pre>
<pre class="r"><code>deg.dstr &lt;- igraph::degree_distribution(g, cumulative = FALSE)
edge.count &lt;- 0:(length(deg.dstr) - 1)
p &lt;- data.frame(cbind(edge.count, deg.dstr))

# plot degree distribution
plot(p, type = &quot;o&quot;)</code></pre>
<p><img src="/blogdown-gitlab/post/networkD3_files/figure-html/density-1.png" width="672" /></p>
<p>The above results indicate that this network is sparse and heterogenous. Heterogenous networks are networks with nodes that exhibit a hierarchy of connections and have fat tailed degree distributions, while homogenous networks display a normal distribution.</p>
</div>
<div id="context-and-connections-are-everything" class="section level3">
<h3>Context and Connections are Everything</h3>
<p>While we have covered a few basic metrics in network analysis, context is key to “reading” a network. Our force-directed network graph offers a view into the data driving Amazon’s recommender system, helping us observe how books cluster together and make inferences about the interests and preferences of customers. From purchasing patterns, communities of like-minded and not-like-minded can be seen to emerge. Perhaps more interestingly, we can see where and how they intersect.</p>
<p>A common question in network analysis is not just what are your connections, but what are the connections of your connections? An interactive network graph is helpful for tracing the connections from a “focus node” (also known as an <em>ego</em>) and following the links to where those connections lead. Valdis Krebs, the author of our example dataset, writes:</p>
<p><em>“Key to understanding the dynamics of networks is the ability to perceive the emergent patterns of connections that surround an individual node, or that are present within and around a community of interest. I wanted to see the network in which my book of interest was embedded. Seeing those connections can provide insight into the network neighborhood—the network surrounding this book—which can help a consumer make a smarter purchase.”</em> (Excerpt from Steele and Ilinsky (2010) <em>Beautiful Visualization</em>, Chapter 7, 112)</p>
<p>Within the broader context of a network as a whole, therefore, subsets of interwoven connections form subcontexts. Generating a visualization can be the first step in navigating a series of contexts and delving into the structural patterns that define them.</p>
</div>
